.aims {
  position: relative;

  margin-bottom: 110px;
  // overflow: hidden;
  &__bg-block {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 15vw;
    height: 100%;

    background: @corpColor;
  }
  &__bg-img {
    position: absolute;
    top: 37%;
    right: 0;

    width: 23vw;
    height: auto;
  }
  &__bg-img img {
    width: 100%;
  }
  &__title {
    position: relative;
  }
  &__title::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -480px;

    width: 400px;
    height: 1px;

    background: @lightTextColor;
  }
  &__title span {
    color: @corpColor;
  }
  &__intro {
    display: block;
    width: 90%;
    margin-bottom: 75px;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 81%;
  }
  &__list li {
    margin-bottom: 90px;
  }
  &__list li:nth-child(odd) {
    flex-basis: 30%;
    box-sizing: border-box;
  }
  &__list li:nth-child(even) {
    flex-basis: 60%;
    box-sizing: border-box;
  }
  &__list li:last-child {
    flex-basis: 100% !important;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  &__list li svg {
    display: inline-block;
    width: 56px;
    height: 56px;
    margin-right: 2.18em;

    vertical-align: top;
  }
  &__list p {
    position: relative;

    display: inline-block;
    width: 65%;
    margin: 0;

    line-height: 24px;
    vertical-align: middle;
    color: @darkTextColor;
  }
  &__list li:nth-child(even) p {
    width: 80%;
  }
  &__list li:last-child p {
    width: 50%;
  }
  &__list p::before {
    content: "";
    position: absolute;
    top: 25px;
    left: -4px;

    display: block;

    font-size: 100px;
    color: #8a8a8a;

    opacity: 0.1;
  }
  &__list li:nth-child(1) p::before {
    content: "01";
  }
  &__list li:nth-child(2) p::before {
    content: "02";
  }
  &__list li:nth-child(3) p::before {
    content: "03";
  }
  &__list li:nth-child(4) p::before {
    content: "04";
  }
  &__list li:nth-child(5) p::before {
    content: "05";
  }
}
@media (max-width:1780px) {
  .aims {
    &__list {
      width: 70%;
    }
    &__list li:nth-child(odd) {
      flex-basis: 35%;
    }
  }
}
@media (max-width:1500px) {
  .aims {
    &__bg-img {
      top: 33%;

      width: 33vw;
    }
    &__intro {
      width: 80%;
    }
    &__list {
      width: 65%;
    }
    &__list li:nth-child(odd) {
      flex-basis: 40%;
    }
    &__list li:nth-child(even) p {
      width: 70%;
    }
  }
}
@media (max-width:1340px) {
  .aims {
    &::after {
      width: 195px;
    }
    &__bg-img {
      top: 30%;
    }
    &__list {
      width: 60%;
    }
    &__list li:nth-child(even) {
      flex-basis: 50%;
    }
  }
}
@media @lg {
  .aims {
    &__bg-img {
      top: 29%;
    }
    &__title::before {
      display: none;
    }
    &__list li:nth-child(odd) {
      flex-basis: 45%;
    }
    &__list li:nth-child(even) p {
      width: 65%;
    }
    &__list li:nth-child(odd) p {
      width: 62%;
    }
  }
}
@media @md {
  .aims {
    margin-bottom: 90px;
    &__bg-img {
      top: 25%;
    }
    // &__bg-block {
    //   width: 7vw;
    // }
    &::after {
      top: 15%;

      height: 50%;
    }
    & h2 {
      width: 80%;

      line-height: normal;
    }
    &__list li:nth-child(odd),
    &__list li:nth-child(even),
    &__list li:last-child {
      flex-basis: 100%;
    }
    &__list li:nth-child(odd) p,
    &__list li:nth-child(even) p,
    &__list li:last-child p {
      width: 70%;
    }
  }
}
@media @sm {
  .aims {
    &__bg-img {
      display: none;
    }
    &__bg-block {
      display: none;
    }
    &::after {
      display: none;
    }
    & h2 {
      width: 100%;
    }
    &__title {
      line-height: 1.2em;
      text-align: center;
    }
    &__intro {
      width: 100%;
    }
    &__list {
      width: 100%;
    }
  }
}
@media @xs {
  .aims {
    &__intro {
      margin-bottom: 50px;
    }
    &__list li {
      margin-bottom: 50px;
    }
  }
}
