.header {
  z-index: 30;

  padding: 20px 0;

  background: #ffffff;

  transition: 0.5s all;
  &--sticky {
    position: fixed;
    top: -40px;
    left: 0;

    width: 100%;
    padding-top: 60px;

    border-bottom: 1px solid #e7e7e7;

    transition: padding-top 0.3s;
    transition: 0.5s all;
  }
  & .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__logo {
    display: flex;
    flex-basis: 10%;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 20px;

    border-right: 1px solid @lightTextColor;
  }
  &__contacts {
    display: flex;
    flex-basis: 30%;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 20px;

    line-height: 55px;

    border-right: 1px solid @lightTextColor;
  }
  &__nav {
    z-index: 20;

    flex-basis: 50%;
    padding: 0 20px;

    text-align: center;

    background: rgba(255,255,255,0.9);
    border-right: 1px solid @lightTextColor;
  }
  &__nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;
  }
  &__nav a.active {
    color: @corpColor;
  }
  &__lang {
    flex-basis: 10%;
    padding-left: 20px;

    line-height: 52px;
  }
  &__lang a.active {
    color: @corpColor;
  }
  &__open-toggle {
    display: none;

    cursor: pointer;
  }
}
@media @lg {
  .header {
    &__logo {
      flex-basis: 13%;
    }
    &__contacts {
      flex-basis: 20%;
      flex-direction: column;

      line-height: 25px;
    }
    &__nav {
      flex-basis: 57%;
    }
    &__lang {
      flex-basis: 10%;
    }
  }
}

@media @md {
  .header {
    font-size: 14px;
    &__logo {
      padding-right: 15px;
    }
    &__contacts {
      padding: 0 15px;

      line-height: 25px;
    }
    &__nav {
      padding: 0 15px;
    }
    &__lang {
      padding-left: 15px;
    }
  }
}
@media(max-width:925px) {
  .header {
    &__logo {
      flex-basis: 12%;
    }
    &__logo img {
      max-width: 100%;
    }
    &__contacts {
      flex-basis: 20%;

      font-size: 13px;
      line-height: 25px;
    }
    &__nav {
      flex-basis: 65%;
    }
    &__lang {
      flex-basis: 6%;

      line-height: 25px;
    }
    &__lang span {
      display: none;
    }
  }
}
@media @sm {
  .header {
    & .wrapper {
      position: relative;

      justify-content: flex-start;
    }
    &__contacts {
      flex-basis: 130px;

      text-align: left;
    }
    &__lang {
      display: flex;
      flex-basis: 20%;
      flex-flow: row nowrap;
      align-items: center;
    }
    &__lang span {
      display: block;
    }
    &__nav {
      position: absolute;
      top: 72px;
      left: 0;

      display: none;
      flex-direction: column;
      align-items: flex-end;
      box-sizing: border-box;
      width: 100%;
      padding: 0;
    }
    &__nav ul {
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
    &__nav ul li {
      width: 100%;
    }
    &__nav a {
      display: block;
      width: 100%;
      padding: 15px 0;

      border-bottom: 1px solid @lightTextColor;
    }
    &__open-toggle {
      position: absolute;
      top: 10px;
      right: 15px;

      display: block;

      font-size: 30px;
    }
  }
}
@media @xs {
  .header {
    &__lang {
      flex-direction: column;
      align-items: flex-start;
    }
    &__lang span {
      display: none;
    }
  }
}
