.partners {
  margin-bottom: 110px;
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;

    text-align: center;
  }
  &__list li {
    flex-basis: 12%;
  }
}
